#footer
{
    display: flex;
	width: 100%;
	border-top: 4px solid #008BE5;
	background-color: #292C30;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}
#footer table tr td
{	
	border-left: 10px solid #292C30;
	border-right: 10px solid #292C30;
}
#footer p
{
	white-space: normal;
	line-height: normal;
	font-weight: normal;
	font-size: medium;
	font-variant: normal;
	font-style: normal;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}